header {
    position: sticky;
    top:0;

    background-color: $background-1;

    display: grid; 
    grid-template-areas: "logo nav pfp";
    grid-template-columns: 20% 60% 20%;

    height: 12vh;

    z-index: 10;
    
    nav {
        grid-area: nav;
        justify-self: center;
    
        ul {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
        
            // Reset para Bootstrap //
            margin: 0;
            padding: 0;
        }
    }
}

.logo {
    height: 12vh;
    grid-area: logo;
}

.pfp { 
    grid-area: pfp;
    text-align: center;
    justify-self: flex-end;
    margin-right: 3vw;
}

.fa-circle-user {
    font-size: 3.5vw;
}