$background-gradient: linear-gradient(90deg, rgba(129,91,51,1) 0%, rgba(187,138,76,1) 35%, rgba(139,95,48,1) 92%);
$background-1 : #361500;
$brown : #58331c;

$bordes:  (
    dashed-1px : 1px dashed #361500,
    dashed-2px : 2px dashed #361500,
    solid-1px : 1px solid #EEC373,
    solid-2px : 2px solid #361500,
    solid-3px : 3px solid #361500,
    solid-3px-alt : 3px solid #6e4227,
    double-3px : 3px double #6e4227
);

