.about-grid {
    display: grid;
    grid-template-areas:    
    "pic txt"
    "credit txt";

    grid-template-rows: 57vh 2.75vw;
    grid-template-columns: 45vh auto;

    margin: 7.5vh 7.5vw 7.5vh 7.5vw;
    border: map-get($map: $bordes, $key: solid-3px);
}

.mumei-pic {
    grid-area: pic;
    width: 100%;
    height: 100%;
    border-right: map-get($map: $bordes, $key: dashed-2px);
}

#credit {
    grid-area: credit;
    border-right: map-get($map: $bordes, $key: dashed-2px);
    text-align: end;
}

.description {
    grid-area: txt;
}

.subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 9vw;
    margin-bottom: 3vh;
}

.accordion {
    padding-bottom: 3vh;
    width: 75%;
}

.accordion-button,
.accordion-button:enabled {
    background-color: $background-1;
    color:#EEC373;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.credit {
    font-size: 14px;
}