.body-template {
    margin-top: 4vh;
}

.body-template form {
    padding: 10px;
    font-size: 20px;
    width: 50%;
    border: 1px dashed #361500;
}

.body-template p{
    margin-top: 7vh;
    font-size: 32px;
}

.body-template a:visited {
    color:#0066cc;
}