.body-template {
    margin-top: 4vh;
    
    form {
        padding: 10px;
        font-size: 20px;
        width: 50%;
        border: map-get($map: $bordes, $key: dashed-1px);
    }
    
    p {
        margin-top: 7vh;
        font-size: 32px;
    }
    
    a:visited {
        color:#0066cc;
    }

    .buttons {
        
        input {
            padding: 0.4vw 1.25vw 0.4vw 1.25vw;
            font-size: 1.2vw;
            background-color: $brown;
            color:#EEC373;
            border-radius: 5px;
            border: map-get($map: $bordes, $key: solid-2px);
    
            &:hover {
                background-color: $background-1;
                color:#EEC373;
            }

        }
    }
}