.body-template {
    margin-top: 4vh;
    
    form {
        padding: 10px;
        font-size: 20px;
        width: 50%;
        border: 1px dashed #361500;
    }
    
    p {
        margin-top: 7vh;
        font-size: 32px;
    }
    
    a:visited {
        color:#0066cc;
    }
}