article {
    height: 20vw;
    width: 20vw;
    margin: 1vw;
    padding: 1.25vw;

    background-color: white;
    border: 3px solid #6e4227;
    border-radius: 5px;

    font-size: 1.2vw;
    font-weight: 700;

    transition: scale 0.15s;
    

    p {
        color:black;
        margin:0 1vw 0 1vw;
    }
    
    img {
        width: 90%;
        border-radius: 5px;
    }
    
    &:hover,
    &:focus {
        scale: 1.15;
        cursor: pointer;
        border: 3px double #6e4227;
    }
}