.points-grid {
    width: 90%;
    display: grid;

    grid-template-areas: 
    "faq destacados"
    "todos todos";
    grid-template-columns: 2fr 6fr;


    gap: 5px;
    
    padding: 5px;
    margin-bottom: 2vw;
    
    
    h2 {
        font-size: 1.5vw;
        border-bottom: map-get($map: $bordes, $key: dashed-1px);
    }
}

@each $area in faq, destacados, todos {
    .#{$area}{
        grid-area: #{$area};
    }
}

#pos-center {
    position: relative;
    top: 30%;
}

.faq .btn {
    position: relative;
    top: 35%;
}

.btn {
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.5vw;
    background-color: $brown;
    color:#EEC373;
    margin-bottom: 1vw;
    
    &:hover {
        background-color: $background-1;
        color:#EEC373;
    }
    
    &-secondary {
        background-color: $background-1;
        
        &:hover {
            background-color: $brown;
        }
    }
}

.modal {
    
    &-header {
        border-bottom: map-get($map: $bordes, $key: solid-1px);
    }
    
    &-content {
        background: rgb(129,91,51);
        background: $background-gradient;
        
        li {
            font-size: 2vw;
            font-weight: 700;
        }
        
        p {
            font-size: 1.25vw;
            margin-bottom: 3vw;
        }
    }
    
    &-footer {
        border-top: map-get($map: $bordes, $key: solid-1px);
        
        .btn {
            border: map-get($map: $bordes, $key: solid-1px)
        }
    }
}
    
.points-grid img {
    height: 14vw;
}