.points-grid {
    width: 90%;
    display: grid;

    grid-template-areas: 
    "faq destacados"
    "todos todos";
    grid-template-columns: 2fr 6fr;


    gap: 5px;
    
    padding: 5px;
    margin-bottom: 2vw;
    
    
    h2 {
        font-size: 1.5vw;
        border-bottom: 1px dashed #361500;
    }
}
    
.faq {
    grid-area: faq;
}

.destacados {
    grid-area: destacados;
}

.todos {
    grid-area: todos;
}

#pos-center {
    position: relative;
    top: 30%;
}

.faq .btn {
    position: relative;
    top: 35%;
}

.btn {
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.5vw;
    background-color: #58331c;
    color:#EEC373;
    margin-bottom: 1vw;
    
    &:hover {
        background-color: #361500;
        color:#EEC373;
    }
    
    &-secondary {
        background-color: #361500;
        
        &:hover {
            background-color: #58331c;
        }
    }
}

.modal {
    
    &-header {
        border-bottom: 1px solid #EEC373
    }
    
    &-content {
        background: rgb(129,91,51);
        background: linear-gradient(90deg, rgba(129,91,51,1) 0%, rgba(187,138,76,1) 35%, rgba(139,95,48,1) 92%);    
        
        li {
            font-size: 2vw;
            font-weight: 700;
        }
        
        p {
            font-size: 1.25vw;
            margin-bottom: 3vw;
        }
    }
    
    &-footer {
        border-top: 1px solid #EEC373;
        
        .btn {
            border: 1px solid #EEC373
        }
    }
}
    
.points-grid img {
    height: 14vw;
}