#register {
  
    form {
        border: none;
        width: 65%;

        fieldset {
            font-size: 1.4vw;
            border: map-get($map: $bordes, $key: dashed-1px);
            padding: 1vw 0 1vw 0;

            .flex-row {
                margin: 2px 0 2px 0;
            }

            .center {
                margin: 0 2px 0 2px;
            }

            .buttons input {
                margin: 0 1vw 0 1vw;
            }
        }
    }
}

.body-template legend {
    margin-left: 4vw;
    font-size: 24px;
}