#register {

    fieldset {
        border: map-get($map: $bordes, $key: dashed-1px);
        padding: 1vw 0 1vw 0;
    }
    
    form {
        border: none;
    }
}

.body-template legend {
    margin-left: 4vw;
    font-size: 28px;
}