.services-grid {
    display: grid;
    width: 85%;

    grid-template-areas: 
    "autoservice coffee     coffee coffee"
    "autoservice custom     custom img1"
    "img2        custom     custom img3"
    "delivery    delivery   points points";

    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 14vw 14vw 14vw 14vw;
    gap: 5px;

    margin: 3vw 0 1vw 0;
    padding: 10px;
    
    
    h3 {
        font-size: 24px;
        margin-bottom: 1vw;
    }
    
    p {
        width: 90%;
    }

    img {
        width: 80%;
        height: 100%;
    }
}

@each $area in autoservice, coffee, delivery, points, custom {
    .#{$area}{
        grid-area: #{$area};
    }
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
    width: 70%;
    margin-left: 4.25vw;
}

#img3 {
    grid-area: img3;
}