* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* Estilos del Header */

header {
    position: sticky;
    top:0;

    display: grid;
    grid-template-areas: "logo nav pfp";
    grid-template-columns: 20% 70% 10%;

    height: 12vh;
    background-color: #361500;

    z-index: 10;
}

header nav {
    grid-area: nav;
    justify-self: center;
}

.logo {
    height: 12vh;
    grid-area: logo;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 10vw 0 0;
}

.hover-light{
    text-decoration: none;
    color: #EEC373;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin: 0 1.5vw 0 1.5vw;
}

.hover-light:hover {
    text-shadow: 1px 1px 8px white;
}

.pfp { 
    grid-area: pfp;
    text-align: center;
    align-self: center;
}

.fa-circle-user {
    font-size: 8vh;
}

.white {
    color:white;
}

.as-center {
    align-self: center;
}

/* Estilos del Main */

main {
    background: rgb(129,91,51);
    background: linear-gradient(90deg, rgba(129,91,51,1) 0%, rgba(187,138,76,1) 35%, rgba(139,95,48,1) 92%);    
    
    color:#F4DFBA;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vh;
    text-align: center;
    cursor: default;
}

main p {
    margin: 2vh 10vw 2vh 10vw;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 20vh;
}

h2 {
    font-size: 3vh;
    margin-bottom: 4.5vh;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-center img {
    height: 60vh;
}

.location h3 {
    font-size: 5vh;
    margin-bottom: 2vh;
}

.location iframe {
    width: 70%;
    padding-bottom: 4vh;
}

.divisor {
    background-color: #6d3513;
    width: 50%;
    height: 2px;
    border-radius: 200000%;
    margin: 2vh 0 4vh 0;
}


/* Estilos del Footer */

footer {
    display: grid;
    grid-template-areas: "contact cr sns";
    grid-template-columns: 15% 70% 15%;

    height: 7vh;
    background-color: #361500;
}

footer a {
    grid-area: contact;
}

footer p {
    grid-area: cr;
    text-align: center;
}

.footer-sns {
    grid-area: sns;
    justify-self: center;
}

.fa-brands {
    font-size: 4.5vh;
    margin: 0 1vw 0 1vw;
}


/* Estilos del About Us */

.grid-container {
    display: grid;
    grid-template-areas:    
    "pic txt"
    "credit txt";

    grid-template-rows: 70vh 5vh;
    grid-template-columns: 24.4vw auto;

    margin: 7.5vh 7.5vw 7.5vh 7.5vw;
    border: 3px solid #361500;

    background-color: #6d3513;
}

.mumei-pic {
    grid-area: pic;
    width: 100%;
    height: 100%;
    justify-self: end;
    border-right: 2px dashed #361500;
}

#credit {
    grid-area: credit;
    font-size: 2vh;
    border-right: 2px dashed #361500;
    text-align: end;
}

#credit p {
    margin: 0;
}

.description {
    grid-area: txt;
}

.description h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 15vh;
}